<ion-grid style="width: 95%">
  <ion-row>
    <ion-col size="12" class="namme-button-add">
      <ion-title> TODO List </ion-title>
      <ion-button
        (click)="openModal()"
        id="open-custom-dialog"
        color="success"
        fill="outline"
        >+ Aggiungi</ion-button
      >
    </ion-col>
    <ion-col size="12" class="border-bottom-category">
      <ion-button
      routerDirection="root"
      *ngFor="let item of category_id"
      routerLink="/home/todo/{{ item.id }}"
      (click)="idButton(item.id)"
      [fill]="currentTaskId === item.id ? 'solid' : 'outline'"
      [color]="currentTaskId === item.id ? '' : 'primary'"
        >{{ item.title_category }}
        </ion-button
      >
    </ion-col>
    <ion-col size="12">
      <ion-router-outlet style="width: 100%; height: 50vh"></ion-router-outlet>
    </ion-col>
  </ion-row>
</ion-grid>
