<ion-row>
  <ion-col size="4">
    <ion-card>
      <div class="example-container">
        <div class="title-icon">
          <div class="container-title-badge">

            <ion-title>To do </ion-title>
            <ion-badge color="warning">{{todo.length}}</ion-badge>
          </div>
          <ion-icon
            (click)="openModal('')"
            style="cursor: pointer"
            name="add-circle-sharp"
            color="medium"
            size="large"
          ></ion-icon>
        </div>
        <div
          id="arrayTodo"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[inProList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div  *ngFor="let item of todo; trackBy: trackById">

            <ion-card  [ngClass]="{ 'border-red': isDueSoon(item.date_task) }" class="example-box" [cdkDragData]="item" cdkDrag>
              <ion-card-header>
                <ion-card-title>{{ item.title_todo }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-row>
                  <p>{{ item.description_todo }}</p>
                </ion-row>

                <ion-row>
                  <ion-col size="10">
                    <p><span>Creazione : </span>  {{ dateObj | date:'dd/MM/yyyy' }}</p>
                    <p><span>Scadenza : </span>  {{item.date_task | date:'dd/MM/yyyy'}}</p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="openModal(item)"
                      size="small"
                      color="warning"
                      name="create-outline"
                    ></ion-icon>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="deleteTask(item)"
                      name="trash"
                      color="danger"
                      size="small"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-card>
  </ion-col>
  <ion-col size="4">
    <ion-card>
      <div class="example-container">
        <div class="title-icon">
          <div class="container-title-badge">
            
            <ion-title>In Progress</ion-title>
            <ion-badge color="danger">{{inPro.length}}</ion-badge>
          </div>
          
        </div>
        <div
          id="arrayInPro"
          cdkDropList
          #inProList="cdkDropList"
          [cdkDropListData]="inPro"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of inPro; trackBy: trackById">
            <ion-card [ngClass]="{ 'border-red': isDueSoon(item.date_task) }" class="example-box" [cdkDragData]="item" cdkDrag>
              <ion-card-header>
                <ion-card-title>{{ item.title_todo }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-row>
                  <p>{{ item.description_todo }}</p>
                </ion-row>

                <ion-row>
                  <ion-col size="10">
                    <p><span>Creazione : </span>  {{ dateObj | date:'dd/MM/yyyy' }}</p>
                    <p><span>Scadenza : </span>  {{item.date_task | date:'dd/MM/yyyy'}}</p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="openModal(item)"
                      size="small"
                      color="warning"
                      name="create-outline"
                    ></ion-icon>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="deleteTask(item)"
                      name="trash"
                      color="danger"
                      size="small"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-card>
  </ion-col>
  <ion-col size="4">
    <ion-card>
      <div class="example-container">
        <div class="title-icon">
          <div class="container-title-badge">
            
            <ion-title>Done</ion-title>
            <ion-badge color="success">{{done.length}}</ion-badge>
          </div>
          
        </div>

        <div
          id="arrayDone"
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of done; trackBy: trackById">
            <ion-card  class="example-box" cdkDrag>
              <ion-card-header>
                <ion-card-title>{{ item.title_todo }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-row>
                  <p>{{ item.description_todo }}</p>
                </ion-row>

                <ion-row>
                  <ion-col size="10">
                    <p><span>Creazione : </span>  {{ dateObj | date:'dd/MM/yyyy' }}</p>
                    <p><span>Scadenza : </span>  {{item.date_task | date:'dd/MM/yyyy'}}</p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="openModal(item)"
                      size="small"
                      color="warning"
                      name="create-outline"
                    ></ion-icon>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      (click)="deleteTask(item)"
                      name="trash"
                      color="danger"
                      size="small"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-card>
  </ion-col>
</ion-row>
