

ion-card {
    --background: #13171a;
    --color: #fdfeff;
  }
  ion-grid{
      display: flex;
      align-items: flex-start;
      justify-content: center;
  
      ion-row{
          width: 94%;
      }
  }
  
  
  ion-card-header {
    padding-bottom: 5px;
    ion-card-title {
      font-weight: 600;
      --color: #fdfeff;
    }
  }
  ion-card-content{
    font-size: 14px;
    font-weight: 400;
  }

  ion-title {
    height: 10vh;
    font-size: 40px;
    font-weight: 600;
    padding: 0;
  }